@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
/* font-family: 'Rubik', 'Noto Sans KR', '돋움', Dotum, AppleGothic, sans-serif; */

/* HOME - S */
.home{position: relative;}
.home .sec-tit{
  padding: 100px calc(50% - 240px) 100px 0;
  text-align: right;
  position: relative;
}
.home .sec-tit strong{display: block;}
.home .sec-tit::before , .home .sec-tit::after{content: "";
  display: block;
  width: 20px; height: 20px;
  border-radius: 100%;
  position: absolute; right: calc(50% - 270px);
}
.home .sec-tit::before{
  background-color: #99f;
  top: 125px;
}
.home .sec-tit::after{
  background-color: #f99;
  top: 190px;
}

.home .circle{position: absolute;}
.home .circle:nth-of-type(1){left: 10%; top: 30%;}
.home .circle:nth-of-type(2){left: 40%; top: 10%;}
.home .circle:nth-of-type(3){left: 20%; top: 90%;}
.home .circle:nth-of-type(4){left: 50%; top: 70%;}
.home .circle:nth-of-type(5){left: 80%; top: 20%;}
.home .circle p{position: relative;}
.home .circle p::before, .home .circle p::after{content: "";
  display: block;
  width: 100px; height: 100px;
  border: 3px solid; border-radius: 100%;
  position: absolute; left: 0; top: 0;
  opacity: 0;
  animation: ball infinite linear;
}
.home .circle p::before{
  border-color: #f99;
  animation-duration: 3.2s;
}
.home .circle p::after{
  border-color: #99f;
  animation-duration: 2.6s;
}
.home .circle:nth-of-type(1) p::before, .home .circle:nth-of-type(4) p::before{animation-delay: 0.7s;}
.home .circle:nth-of-type(1) p::after, .home .circle:nth-of-type(4) p::after{animation-delay: 0.2s;}
.home .circle:nth-of-type(2) p::before{animation-delay: 0.4s;}
.home .circle:nth-of-type(2) p::after{animation-delay: 0.3s;}
.home .circle:nth-of-type(3) p::before, .home .circle:nth-of-type(5) p::after{animation-delay: 0.5s;}
.home .circle:nth-of-type(3) p::after{animation-delay: 1s;}
.home .circle:nth-of-type(5) p::before{animation-delay: 0.9s;}

@keyframes ball {
  0%{transform: scale(0%);}
  50%{transform: scale(50%); opacity: 0.3;}
  100%{transform: scale(100%);}
}
/* HOME - E */
/* PROFILE - S */
.profile{position: relative;}
.profile::before, .profile::after{content: "";
  display: block;
  width: 500px; height: 500px;
  border-radius: 100%;
  position: absolute; z-index: -1;
  opacity: 0.3;
}
.profile::before{background-color: #f55; left: -400px; top: 300px;}
.profile::after{background-color: #09f; left: -150px; top: 500px;}
.profile-wrap{display: flex; justify-content: center;}
.profile-wrap .id-pic{width: 300px; height: 450px;}
.profile-wrap .id-pic img{width: 100%;}
.profile-box{display: flex; flex-wrap: wrap; width: 500px;}
.profile-box li{margin-bottom: 50px; padding-left: 80px;}
.profile-box li:nth-child(-n+2){width: 100%;}
.profile-box li .sub-tit{
  display: flex; align-items: center;
  margin-bottom: 20px;
  font-size: 2.4rem; color: #333;
}
.profile-box li .sub-tit::before{content: "";
  display: inline-block;
  width: 20px; height: 10px;
  margin-right: 10px;
  border-radius: 5px;
  background-color: #f99;
  transform: rotate(135deg);
}
.profile-box li .txt-wrap{padding-left: 30px;}
.profile-box li .txt-wrap p{font-size: 18px; line-height: 24px;}
/* PROFILE - E */
/* PROJECT - S */
.project .sec-tit{margin-bottom: 250px;}
.project article{
  position: relative;
}
.project article:nth-of-type(-n+3){margin-bottom: 400px;}
.project article:nth-of-type(-n+3)::before{content: "";
  display: block;
  width: 550px; height: 550px;
  border-radius: 100%;
  position: absolute; top: -120px;
}
.project article:nth-of-type(-n+3)::after{content: "";
  display: block;
  width: 250px; height: 250px;
  border-radius: 100%;
  position: absolute; top: 250px;
}
.project article .project-header{display: flex; flex-direction: column;}
.project article:nth-of-type(-n+3) .project-header{
  color: #fff;
  position: absolute;
}
.project article:nth-of-type(4) .project-header{text-align: center;}
.project article:nth-of-type(4) .project-header em{width: 100%; border: 0;}
.project article .project-header h4{order: 2; font-weight: 700; font-size: 3.6rem;}
.project article .project-header strong{order: 1; font-size: 2rem;}
.project article .project-header em{
  width: 200px;
  margin-bottom: 10px; padding-bottom: 10px;
  font-size: 16px;
  border-bottom: 1px solid #fff;
}
.project article .picture{
  width: 520px; height: 432px;
  margin: 0 auto;
  background: url(../img/project-monitor.png);
  margin-bottom: 50px; padding: 18px 0 0 15px;
  position: relative;
}
.project article .picture::after{content: "마우스를 올려보세요";
  display: block;
  width: 90px; height: 90px;
  padding: 25px 0;
  font-size: 16px; line-height: 20px; color: #fff; text-align: center;word-break: keep-all;
  border-radius: 100%;
  position: absolute; left: -20px; top: -20px;
  transition: all 0.5s; opacity: 1;
}
.project article .picture figure{width: 490px; height: 280px; overflow: hidden;}
.project article .picture figure img{width: 100%; position: relative; top: 0; left: 0; transition: all 5s ease-in-out;}
.project article .concept{display: flex; justify-content: center; margin-bottom: 100px;}
.project article .concept-prop{margin-right: 100px;}
.project article .concept-prop p{font-size: 18px; line-height: 30px;}
.project article .concept-prop p span{
  display: inline-block;
  width: 70px;
  margin-right: 15px;
  font-weight: 500; color: #333; text-align: right;
}
.project article .concept-desc{font-size: 18px; line-height: 30px;}
.project article .concept-desc strong{display: block; font-weight: 500; color: #333;}
.project article .btn-wrap{display: flex; justify-content: center;}
.project article .btn-wrap li + li{margin-left: 100px;}
.project article .btn-wrap li a{
  display: block;
  width: 200px; height: 60px;
  border: 1px solid #aaa; border-radius: 40px;
  font-weight: 500; font-size: 2rem; line-height: 60px; text-align: center;
  background-color: #fff;
  transition: all 0.5s;
}
.project1::before{background-color: #f99; left: calc(50% + 70px);}
.project1::after{background-color: #f55; left: calc(50% + 450px);}
.project1 .project-header{align-items: flex-end; left: calc(50% + 300px);}
.project1 .project-header em{text-align: right;}
.project1 .picture::after{background-color: rgba(255,153,153,0.8);}
.project2::before{background-color: #99f; right: calc(50% + 70px);}
.project2::after{background-color: #55f; right: calc(50% + 450px);}
.project2 .project-header{right: calc(50% + 300px);}
.project2 .picture::after{background-color: rgba(85,85,255,0.8);}
.project3::before{background-color: #fb5; left: calc(50% + 70px);}
.project3::after{background-color: #f90; left: calc(50% + 450px);}
.project3 .project-header{align-items: flex-end; left: calc(50% + 300px);}
.project3 .project-header em{text-align: right;}
.project3 .picture::after{background-color: rgba(255,153,0,0.8);}
.project4 .project-header{margin-bottom: 80px;}
.project4 .project-header h4{color: #333;}
.project .project4 .picture{
  width: 200px; height: 406px;
  background-image: url(../img/project-mobile.png);
}
.project .project4 .picture::after{background-color: rgba(50,230,170,0.7);}
.project .project4 .picture figure{
  width: 183px; height: 324px;
  position: absolute; left: 9px; top: 41px;
}
.project .project4 .picture figure img{width: fit-content;}
/* efect */
.project article:nth-of-type(1) .picture:hover figure img{top: -1033px;}
.project article:nth-of-type(2) .picture:hover figure img{top: -1260px;}
.project article:nth-of-type(3) .picture:hover figure img{top: -1004px;}
.project article:nth-of-type(4) .picture:hover figure img{left: -1098px;}
.project article .picture:hover::after{opacity: 0;}
.project article .btn-wrap li a:hover{border: 0; color: #fff;}
.project article:nth-of-type(1) .btn-wrap li a:hover{background-color: #f99;}
.project article:nth-of-type(2) .btn-wrap li a:hover{background-color: #99f;}
.project article:nth-of-type(3) .btn-wrap li a:hover{background-color: #fb5;}
.project article:nth-of-type(4) .btn-wrap li a:hover{background-color: #3ea;}
/* PROJECT - E */
/* ETC - S */
.work .sec-tit{margin-bottom: 200px;}
.work-wrap{position: relative; height: 570px;}
.work-list{
  width: 100%;
  position: absolute; left: 0; top: 0;
}
.work-list-tit{
  width: 200px; height: 60px;
  border: 1px solid #aaa; border-radius: 30px;
  font-weight: 500; font-size: 2rem; line-height: 60px; text-align: center;
  position: absolute; top: -100px;
  transition: all 0.5s;
  cursor: pointer;
}
.graphic .work-list-tit{left: calc(50% - 400px);}
.etc .work-list-tit{left: calc(50% - 100px);}
.art .work-list-tit{left: calc(50% + 200px);}
.work-list-box .box-wrap{display: flex; justify-content: space-between; flex-wrap: wrap;}
.work-list:nth-child(n+2) .work-list-box{display: none;}
.work-list-box .box-wrap .work-config{margin-bottom: 50px;}
.work-list-box .box-wrap figure{
  width: 400px; height: 260px;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 0 10px 5px rgba(0,0,0,0.15);
  overflow: hidden;
}
.work-list-box .box-wrap figure a::before{content: "";
  display: block;
  width: 100%; height: 100%;
  background-image: url(../img/icon/add-w.png); background-color: #000; background-repeat: no-repeat; background-position: 50% 50%;
  position: absolute; left: 0; top: 0;
  opacity: 0;
  transition: all 0.3s;
}
.work-list-box .box-wrap figure img{width: 100%;}
/* efect */
.work-list-box .box-wrap figure:hover a::before{opacity: 0.7;}
.work-list-tit:hover{background-color: #ddf;}
.work-list-tit.on{
  color: #fff;
  border: 0;
  background-color: #99f;
}
/* ETC - E */