@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
/* font-family: 'Poiret One', cursive; */

*{box-sizing: border-box;}
a{text-decoration: none; color: inherit;}
img{display: block; max-width: 100%;}
body {font: 16px / 1.2 'Noto Sans KR',"돋움" , Dotum, AppleGothic, sans-serif;}

/********** **********
max-width : 1920px  
********** **********/
/* HEADER-AREA */
/* header */
.header{
  width: 15%; height: 100%;
  background-color: #fff;
  position: fixed; left: 0;top: 0; z-index: 10000;
  transition: all 0.3s;
}
.logo{
  width: 180px; height: 136px;
  margin-left: -90px;
  position: absolute; left: 50%; top: 100px;
}
.logo a{
  display: block;
  width: 100%; height: 136px;
  text-indent: -10000px;
  background: url(../img/logo1.png) no-repeat center center / contain  ;
}
/* gnb */
.gnb{
  position: absolute; right: 50%; top: 300px;
  transform: translate(50% , 0);
}
.gnb li{height: 50px;}
.gnb li a{
  display: block;
  padding: 0 30px;
  line-height: 50px;
  width: 100%; height: 50px;
}
/* tnb */
.tnb{
  width: 90px;
  position: absolute; right: 50%;  bottom: 50px;
  transform: translate(50% , 0);
}
.tnb-menu a{float: left;}
.tnb-sns li{float: left;}

/* BAR-AREA */
.bar{
  width: 85%; height: 50px;
  margin-left: 15%;
  line-height: 50px;
  background-color: #000;
  transition: all .3s;
}
.bar-lang{float: left;}
.bar-lang a{
  float: left;
  padding: 0 20px ;
  color: #aaa;
}
.bar-login{float: right;}
.bar-login a{
  float: left;
  padding: 0 20px ;
  color: #ccc;
}

/* MAIN-AREA */
.container{
  width: 85%;
  margin-left: 15%;
  transition: all 1s;
}
.container section{
  float: left;
  width: 20%; height: 260px;
  background-repeat: no-repeat; background-position: center center; background-size: cover;
  position: relative;
}
section.sec1{
  width: 60%; height: 520px;
  background-image: url(../img/pic1.jpg)
}
section.sec1 article {
  font: 150px 'Poiret One' ,'Noto Sans KR' , cursive;;
  position: absolute; right: 0;bottom: 0;
}
section.sec2{width: 40%;}
section.sec3{background-color: aqua;}
section.sec4{background-image: url(../img/pic2.jpg)}
section.sec5{background-image: url(../img/pic3.jpg)}
section.sec6{width: 40%;}
section.sec7{background-image: url(../img/pic4.jpg)}
section.sec9{width: 40%; background-image: url(../img/pic5.jpg)}
section.sec10{background-image: url(../img/pic6.jpg)}
section.sec12{background-image: url(../img/pic7.jpg)}


/********** **********
max-width : 1400px  
********** **********/
@media (max-width : 1400px) {

  /* HEADER-AREA */
  /* header */
  .header{
    width: 100%; height: 80px;
    position: relative;
  }
  .logo{
    width: 200px; height: 40px;
    margin-left: 0;
    left: 20px; top: 20px;
  }
  .logo a{
    height: 40px;
    background-image: url(../img/logo2.png)
  }
  /* gnb */
  .gnb{
    right: 150px; top: 20px;
    transform: translate(0 , 0);
  }
  .gnb li{
    float: left;
    height: 40px;
  }
  .gnb li a{
    height: 40px;
    line-height: 40px;
  }
  /* tnb */
  .tnb{
    right: 20px;  bottom: 18px;
    transform: translate(0 , 0);
  }
  .tnb-menu a{float: left;}
  .tnb-sns li{float: left;}

  /* BAR */
  .bar{
    width: 100%;
    margin-left: 0;
  }
  /* MAIN */
  .container{
    width: 100%;
    margin-left: 0;
  }
}


/********** **********
max-width : 1024px  
********** **********/
@media (max-width : 1024px) {
/* HEADER-AREA */
  /* header */
  /* gnb */
  .gnb{ right: 20px; }
  /* tnb */
  .tnb{ display: none;}

  /* MAIN-AREA */
  .container section{width: 50%; height: 150px;}
  section.sec1{ width: 100%; height: 300px;}
  section.sec3{display: none;}
  section.sec7{display: none;}
  section.sec12{display: none;}
}

/********** **********
max-width : 640px  
********** **********/
@media (max-width : 640px) {
  /* HEADER-AREA */
  /* header */
  .header{  background-color: transparent; }
  .logo{
    width: 180px; height: 136px;
    margin-left: -90px;
    left: 50%; top: 30px;
  }
  .logo a{
    height: 136px;
    background-image: url(../img/logo1.png)
  }
  /* gnb */
  .gnb{
    width: 250px;
    right: 50%; top: 200px;
    transform: translate(50% , 0);
  }
  .gnb li{ 
    float: none;
    height: 50px;
    margin-bottom: 20px;
  }
  .gnb li a{
    height: 50px;
    padding: 0;
    border-radius: 10px;
    color: #fff;
    line-height: 50px; text-align: center;
    background-color: rgba(0,0,0,0.5);
    transition: all 0.3s;
  }
  .gnb li a:hover {
    background-color: rgba(0,0,0,0.8);
    transform: scale(1.2);
  }

  /* MAIN-AREA */
  .container section{display: none;}
  section.sec1{
    display: block;
    height: 100%;
    position: fixed; left: 0;top: 0;
  }
  section.sec1 article {display: none;}
}