@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */

* , ::after , ::before{box-sizing: border-box;}

.hidden{
  width: 0; height: 0; overflow: hidden;
  font-size: 0; line-height: 0; text-indent: -9999px;
  position: absolute; left: -9999px;
}
.clearfix::after{content: ""; display: block; clear: both;}
a{text-decoration: none; color: inherit;}
body{font: 16px/1 'Noto Sans KR',"돋움" , dotum , sans-serif; letter-spacing: -0.5px;}
.header{
  width: 800px; height: 100%;
  background-color: #f80;
  position: fixed; left: -500px; top: 0; z-index: 100;
  transform: skew(-40deg);
}
.logo{
  width: 230px; height: 200px;
  text-indent: -9999px;
  position: absolute; right: 320px; top: 30px;
  transform: skew(40deg);
}
.logo a{
  display: block;
  width: 100%; height: 200px;
  background-image: url(../img/badguys-logo.png);
  background-repeat: no-repeat;
}
.gnb{position: absolute; right: 0; top: 200px;}
.gnb .depth1{width: 200px;position: relative;}
.gnb .depth1 > a{
  display: block;
  width: 100%; height: 60px;
  padding-right: 60px;
  color: #000;
}
.gnb .depth1 > a span{
  display: block;
  width: 100%; height: 50px;
  line-height: 60px; text-align: right;
  transform: skew(40deg);
}
.gnb .depth2{
  position: absolute; left: 0; top: 0;
  opacity: 0;
  transition: all 0.5s;
}
.gnb .depth2 li{
  width: 150px; height: 40px;
  margin-bottom: 5px;
}
.gnb .depth2 li a{
  display: block;
  width: 100%; height: 40px;
  color: #fff;
  border-bottom: 2px solid #fff; border-radius: 10px;
  background-color: #000;
}
.gnb .depth2 li a span{
  display: block;
  width: 100%; height: 40px;
  line-height: 40px; text-align: center;
  transform: skew(40deg);
}
/* hover */
.gnb .depth1:hover > a{
  color: #fff;
  background-color: #000;
}
.gnb .depth1:hover .depth2{
  z-index: 110;
  opacity: 0.8;
  transform: translate(180px,0);
}
/* hover */
.mov{
  width: 100%; min-width: 1600px;
  position: fixed; left: 0; top: 0;
}
.mov video{height: 100vh;}
.text{position: fixed; right: 100px; top: 50px; z-index: 100;}
.text-tit{
  margin-bottom: 10px;
  font-weight: 500; font-size: 40px; color: #fff; text-align: right;
}
.text-tit em{
  display: block;
  font-weight: 900; font-size: 60px;
}
.text-desc{font-size: 30px; color: #fff;}
.text-desc span{font-weight: 700; font-size: 50px;}

.down{
  width: 50px; height: 50px;
  margin-left: -25px;
  position: fixed; left: 50%; bottom: 100px; z-index: 100;
  animation: ani 1s infinite;
}
.down a i{
  font-size: 80px; color: #fff;
  text-shadow: 0 5px 10px #fff;
}
@keyframes ani{
  50%{transform: translate(0,10px);}
}

.footer{
  width: 800px; height: 100%;
  position: fixed; right: -800px; bottom: 0; z-index: 100;
  background-color: rgba(0,0,0,0.3);
  transform: skew(-40deg);
  transition: all 0.5s;
}
.f-wrap{
  width: 650px; height: 100%;
  position: absolute; left: 150px; bottom: 0;
  background-color: rgba(0,0,0,0.3);
  transition: all 1s;
}
.f-img{
  width: 300px;
  position: absolute; left: 50px; bottom: 50px;
}
.f-img li{transform: translate(150px,0);transition: all 0.5s;}
.f-img li:nth-child(2){transition-delay: 0.1s;}
.f-img li:nth-child(3){transition-delay: 0.2s;}
.f-img li em{
  display: block;
  color: #fff;
  transform: skew(40deg);
}
.f-img li a{display: block; width: 250px; height: 100px; overflow: hidden;}
.f-img li a img{width: 100%; transform: skew(40deg);}
/* hover */
.footer:hover{right: -500px;}
.footer:hover .f-wrap{left: 50px;}
.footer:hover .f-img li{transform: translate(0,0);}
/* hover */